[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
pyyaml = "*"
jupyter = "*"
gdown = "*"
django = "*"
mysql-connector-python = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
#python_version = "3.12"
